.app{
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  padding: 20px;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 30% 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.menu{
  grid-template-rows: 30% 1fr;
  border-right: 1px solid #ddd;
}

.details{
  grid-row: 2 / 2;
  grid-column: 2 / 4;
}

.menu-contents{
  padding: 20px;
  border: 1px solid #ddd;
}

button{
  margin: 5px;
  cursor: default;
}